body {
    background-color: #245082;
    color: white;
  font-family: 'Eurostile', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 40px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
    color: white;
    text-align: center;
    line-height: 1.5em;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

div.audio-button {
    display: inline-block;
}
button {
    width: 100px;
    height: 100px;
    border: none;
    background: white;
    color: black;
    text-transform: uppercase;
    margin-right: 1em;
    margin-bottom: 1em;
    font-weight: bold;
    font-family: 'Eurostile';
    font-size: 1.05em;
    border-radius: 4px;
}
button:active {
    background-color: #ff4f80;
}
.sounds {
    text-align: center;
}
.sounds:last-child {
    margin-right: 0;
}
